/SEM4/JT/LAB7/Program1/nbproject/private/
/SEM4/JT/LAB7/Program1/build/
/SEM4/JT/LAB7/Program2/nbproject/private/
/SEM4/JT/LAB7/Program2/build/
/SEM4/JT/LAB7/Program3/nbproject/private/
/SEM4/JT/LAB7/Program3/build/
/SEM4/JT/LAB7/Program3/dist/